* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overscroll-behavior: none;
}

html {
    cursor: none;
}

@font-face {
    font-family: Circular Std;
    src: url('./fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: Berthold;
    src: url('./fonts/Berthold-Akzidenz-Grotesk-BE-Regular.otf');
}

@font-face {
    font-family: Schnyder L Demi;
    src: url('./fonts/Schnyder-L-Demi.otf');
}

@font-face {
    font-family: Schnyder S Demi;
    src: url('./fonts/Schnyder-S-Demi.otf');
}

/* cursor */

.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.cursor.white {
    border: 2px solid white;
}

.cursor.animated {
    animation: cursor 3000ms infinite linear;
} 

@keyframes cursor {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

#loader {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#loader.hidden {
    display: none;
    animation: fadeOut 1s; 
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        display: none;
    }
}

/* status bar */
#bar-holder {
    position: fixed;
    height: 100%;
    width: 8px;
    z-index: 6;
}

#status-bar {
    width: 7px;
    left: 0px;
    top: 0px;
    background: #BDF166;
}


header {
    position: fixed;
    top: 0;
    z-index: 4;
}

nav {
    position: relative;
    width: 100vw;
    height: 141px;
    left: 0px;
    top: 0px;
    text-align: center;
}

nav a {
    display: block;
    font-size: 36px;
    font-family: Circular Std;
    text-decoration: none;
    color: black;
    cursor: none;
}

nav span {
    font-size: 16px;
    display: block;
}


nav a:hover span {
    display: none;
}

nav li {
    list-style: none;
}

.work {
    position: absolute;
    left: 64px;
    top: 30px;
}

.about {
    position: absolute;
    left: 230px;
    top: 30px;
}

.lab {
    position: absolute;
    left: 1054px;
    top: 30px;
}

.contact {
    position: absolute;
    left: 1226px;
    top: 30px;
}

.home {
    margin: 30px auto 0;
    height: 40px;
    width: 130px;
    display: block;
}

.home-link {
    position: absolute;
    top: 30px;
    font-size: 16px;
    font-family: Berthold;
}


.about-landing {
    height: 100vh;
    font-family: Schnyder L Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    background: #E5E5E5;
    /* display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1; */
    position: relative;
}

.about-landing p {
    text-align: center;
    position: absolute;
    left: 120px;
    top: 245px;
}

.about-landing ul {
    list-style: none;
    position: absolute;
    left: 1030px;
    top: 245px;
}

.number {
    color: #BDF166;
    font-family: Berthold;
    font-size: 40px;
}

.scroll {
    font-family: Berthold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.scroll-line {
    border-bottom: 1px solid #000000;
    transform: rotate(90deg);
    width: 120px;
    margin: 0 auto;
}

/* about section */

.about-breakdown {
    width: 100%;
    height: 4500px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url('./Images/Canva\ -\ The\ Unsplash\ Book\ on\ Brown\ Wooden\ Cube\ Table.jpg');
    background-size: cover;
    background-repeat: round;
    display: block;
}

.about-breakdown h1 {
    font-family: Schnyder M;
    font-style: normal;
    font-weight: 500;
    font-size: 102px;
    color: #F3F3F3;
}

.about-breakdown p {
    font-family: Schnyder S;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F3F3F3;
    width: 316px;
    height: 160px;
}

/* 1. Learning Section */

.learn {
    width: 75%;
    margin: 0 auto;
    position: relative;
    height: 1199px;
}

.learn img {
    position: absolute;
    width: 648px;
    height: 530px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
}

.learn h1 {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 28%;
}

.learn p {
    position: absolute;
    right: 0;
    top: 28%;
    z-index: 2;
}

.star {
    font-family: Zapf Dingbats;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    display: flex;
    color: #D8553B;
    animation: spin 3000ms infinite linear;
    width: 50px;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 49%;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.secret {
    font-size: 60px;
    width: 648px;
    height: 434px;
    font-family: Schnyder S;
    text-align: center;
    color: #F3F3F3;
    display: block;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hand {
    font-family: Zapf Dingbats;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #F3F3F3;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 15%;
    animation: hand-spin 3000ms infinite linear;
}

@keyframes hand-spin {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(45deg) ;
    }
}

/* 2. Reframe */

.reframe-line {
    border-bottom: 1px solid #F3F3F3;
    transform: rotate(90deg);
    width: 255px;
    display: block;
    margin: 0 auto;
}

.reframe {
    display: block;
    height: 1000px;
    position: relative;
    width: 75%;
    margin: 55px auto 0;
}

.reframe h1 {
    position: absolute;
    top: 12%;
    left: 0;
}

.reframe p {
    position: absolute;
    top: 12%;
    right: 21%;
}

br {
    margin: 10px;
}

#reframe-image {
    position: absolute;
    width: 648px;
    height: 530px;
    right: -10%;
    top: 29%;
}

/* 3. Create */

.create {
    position: relative;
    display: block;
    height: 500px;
    width: 75%;
    margin: 0 auto;
}

.create h1 {
    position: absolute;
    left: 0;
    top: 00%;
}

.create ul {
    font-family: Schnyder S;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #F3F3F3;
    list-style: none;
    position: absolute;
    left: 38%;
    top: 5%;
}

.create li {
    margin-left: 20px;
    position: relative;
    padding-bottom: 30px;
}

.create-blurb {
    position: absolute;
    right: -10%;
    top: 4%;
}

.scissor {
    font-family: Schnyder M;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #BDF166;
    position: absolute;
    left: -80px;
    top: -10px;
    visibility: hidden;
}

.create li:hover .scissor {
    visibility: visible;
    animation: scissor-spin 3000ms infinite linear;
}

.create li:hover {
    color: #BDF166; ;
}

@keyframes scissor-spin {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-25deg) ;
    }
}

.design{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.design-title {
    display: block;
    height: 210px;
    width: 490px;
    margin: 260px auto 0;
    font-family: Schnyder S;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color: #F3F3F3; 
    text-align: center;
}

.star-2 {
    font-family: Zapf Dingbats;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    display: flex;
    color: #D8553B;
    animation: spin 3000ms infinite linear;
    width: 50px;
    justify-content: center;
    margin: 50px auto 150px;
}

.line-design {
    border-bottom: 1px solid #F3F3F3;
    transform: rotate(90deg);
    display: block;
    margin: 0 auto;
    width: 70px;
}

.build-something {
    display: block;
    position: relative;
    height: 500px;
    margin-top: 250px;
}


.build-something h2 {
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 102px;
    line-height: 129px;
    text-decoration-line: underline;
    color: #F3F3F3;
    position: absolute;
    text-align: center;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 45px;
}

.build-something img {
    width: 371px;
    height: 556px;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.build-line-1 {
    border-bottom: 1px solid #F3F3F3;
    width: 387px;
    position: absolute;
    top: 55%;
    left: 0;
}

.build-line-2 {
    border-bottom: 1px solid #F3F3F3;
    width: 387px;
    position: absolute;
    top: 55%;
    right: 0;
}

#circle-one {
    position: absolute;
    width: 54%;
    left: -30%;
    top: -3%;
}

#circle-two {
    width: 54%;
    position: absolute;
    right: -30%;
    top: -3%;
}

.something {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 33%;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
    text-align: center;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



footer {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    width: 100vw;
    height: 40px;
    text-align: center;
}

footer a {
    margin: 10px 40px 37px;
    color: white;
    font-family: Schnyder S Demi;
    text-decoration: none;
}