* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overscroll-behavior: none;
}

@font-face {
    font-family: Circular Std;
    src: url('./fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: Schnyder L Demi;
    src: url('./fonts/Schnyder-L-Demi.otf');
}

@font-face {
    font-family: Berthold Akzidenz Grotesk BE;
    src: url('./fonts/Berthold-Akzidenz-Grotesk-BE-Regular.otf');
}

@font-face {
    font-family: Schnyder S Demi;
    src: url('./fonts/Schnyder-S-Demi.otf');
}

body {
    background: #F6F5F5;
}

html {
    cursor: none;	
}

/* loader */

#loader {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#loader.hidden {
    display: none;
    animation: fadeOut 1s; 
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        display: none;
    }
}

/* Nav bar */

header {
    position: fixed;
    top: 0;
    z-index: 4;
}

nav {
    position: relative;
    width: 100vw;
    height: 141px;
    left: 0px;
    top: 0px;
    text-align: center;
    transition: ease-in 300ms;
}

nav a {
    display: block;
    font-size: 36px;
    font-family: Circular Std;
    text-decoration: none;
    color: black;
    cursor: none;
}

nav span {
    font-size: 16px;
    display: block;
}

nav a:hover span {
    display: none;
}

nav li {
    list-style: none;
}

#anim {
    width: 100%;
}

a.green-mode {
    color: white;
}


.work {
    position: absolute;
    left: 64px;
    top: 30px;
}

.about {
    position: absolute;
    left: 230px;
    top: 30px;
}

.lab {
    position: absolute;
    left: 1054px;
    top: 30px;
}

.contact {
    position: absolute;
    left: 1226px;
    top: 30px;
}

.home {
    margin: 30px auto 0;
    height: 40px;
    width: 130px;
    display: block;
}

.home-link {
    font-size: 16px;
    font-family: Berthold;
}

/* status bar */
#bar-holder {
    position: fixed;
    height: 100%;
    width: 8px;
    z-index: 6;
}

#status-bar {
    width: 7px;
    left: 0px;
    top: 0px;
    background: #BDF166;
}

/* cursor */

.cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    pointer-events: none;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.cursor.animated {
    animation: cursor 3000ms infinite linear;
} 

@keyframes cursor {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}


/* contact */

.contact-section {
    background-color: #FFF1EE;
    display: block;
    height: 100vh;
}

.contact-section p {
    font-family: Schnyder L Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 102px;
    text-align: left;
    padding-top: 10%;
    padding-left: 5%;
}

.email {
    color: #BDF166;
    border-bottom: 4px solid #BDF166;
}

.collaborations {
    font-family: Berthold;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    text-transform: uppercase;
}

/* footer */

footer {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
}

footer a {
    margin: 0 40px;
    font-family: Schnyder S Demi;
    text-decoration: none;
    display: inline-block;
    color:black;
}