* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overscroll-behavior: none;
}

@font-face {
    font-family: Circular Std;
    src: url('./fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: Schnyder S Demi;
    src: url('./fonts/Schnyder-S-Demi.otf');
}

@font-face {
    font-family: Schnyder L Demi;
    src: url('./fonts/Schnyder-L-Demi.otf');
}
html {
    cursor: none;	
}


/* loader */

/* #loader {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100vw;
    height: 100vh;
} */

.loader.hidden {
    animation: fadeOut 1s; 
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* cursor */

.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
}

.cursor.animated {
    animation: cursor 3000ms infinite linear;
} 

@keyframes cursor {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/* progress bar */

#bar-holder {
    position: fixed;
    height: 100%;
    width: 8px;
    z-index: 6;
}

#status-bar {
    width: 7px;
    left: 0px;
    top: 0px;
    background: #BDF166;
}

/* Nav bar */

header {
    position: fixed;
    top: 0;
    z-index: 4;
}

nav {
    position: relative;
    width: 100vw;
    height: 141px;
    left: 0px;
    top: 0px;
    text-align: center;
}

nav a {
    display: block;
    font-size: 36px;
    font-family: 'Circular Std', Book;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: white;
    cursor: none;
}

nav span {
    font-size: 16px;
    display: block;
}

nav a:hover span {
    display: none;
}

nav li {
    list-style: none;
}

.work {
    position: absolute;
    left: 64px;
    top: 30px;
}

.about {
    position: absolute;
    left: 230px;
    top: 30px;
}

.lab {
    position: absolute;
    left: 1054px;
    top: 30px;
}

.contact {
    position: absolute;
    left: 1226px;
    top: 30px;
}

.home {
    margin: 30px auto 0;
    height: 40px;
    width: 130px;
    display: block;
}

.home-link {
    position: absolute;
    top: 30px;
    font-size: 16px;
    font-family: 'Teko', light;
}


/* page details */


.work-page {
    width: 100vw;
    height: 100%;
    padding-top: 105px;
    padding-bottom: 200px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(36, 86, 43, 0.4) 100%), #000000;
}

.work-one {
    height: 648px;
    margin: 105px auto 0;
    width: 90%;
    text-align: center;
    position: relative;
}

.work-one.module {
    pointer-events: none;
}

.case-holder {
    position: relative;
}

.work-link {
    display: inline-block;
    position: relative;
    font-family: Schnyder L Demi;
    font-size: 110px;
    line-height: 125px;
    text-decoration-line: underline;
    color: #24562B;
    cursor: none;
}

.work-link:hover {
    z-index: 10;
}

.work-preview {
    display: none;
}

.work-preview.visible {
    position: absolute;
    left: 0;
    top: -57%;
    height: 400px;
    display: block;
    animation: image-blur 300ms;
    animation-fill-mode: forwards;
    z-index: 5;
}

@keyframes image-blur {
    0% {
        filter: blur(10px);
    }
    50% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }
}

.module.hidden {
    display: none;
}

.module {
    height: 100vh;
    width: 100vw;
    z-index: 50;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    transition: ease-in-out 300ms;
}

.close {
    position: fixed;
    top: 5%;
    right: 10%;
    height: 50px;
    width: 50px;
    color: white;
    background: none;
    border-radius: 50%;
    cursor: none;
}

.carousel-wrapper {
    width: 70%;
    margin: 0 auto;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel__photo {
    opacity: 0;
    position: absolute;
    display: block;
    width: 70%;
    margin: 60px auto;
    z-index: 30;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__photo.initial,
.carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 100;
}

.carousel__photo.prev,
.carousel__photo.next {
    z-index: 800;
}

.carousel__photo.prev {
    transform: translateX(-100%); /* Move 'prev' item to the left */
}

.carousel__photo.next {
    transform: translateX(100%); /* Move 'next' item to the right */
}

.prev-button,
.next-button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: white;
    background: none;
    border-radius: 50%;
    z-index: 1001;
    cursor: none;
}

.prev-button {
    left:5%;
}

.next-button {
    right:5%;
}

footer {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    width: 100vw;
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer a {
    margin: 10px 40px 37px;
    color: white;
    font-family: Schnyder S Demi;
    text-decoration: none;
}