<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/assets/css/js/p5.js"></script>
    <script src="/assets/css/js/p5.sound.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}">
    
  <title>Noframe</title>
</head>
<body>
    <script src="assets/css/js/loader.js"></script>
    <!-- <script src="assets/css/js/sketch.js"></script> -->
    <main>
        <div class="loader"></div>
        <header>
            <nav>
                <ul>
                    <li class="work"><a href="work.html">Cases<span>Work</span></a></li>
                    <li class="about"><a href="about.html">About<span>Workflow</span></a></li>
                    <li class="lab"><a href="nflab.html">Nf.<span>Lab</span></a></li>
                    <li class="contact"><a href="contact.html">Contact<span>for Collaborations</span></a></li>
                </ul>
            </nav>
        </header>
        <div class="cursor"></div>
        <div id="bar-holder">
            <div id="status-bar"></div>
        </div>
        <div class="homepage">
          <span class="logo">Noframe</span>
          <img src="{{page.main-image}}" alt="demo" class="demo"/>
          <div class="home-line"></div>
              <div class="light">light mode<span></span></div>
              <div class="green">green mode<span></span></div>
      </div>
      <section class="main-services">
          <h3>Main services</h3>
          <img src="assets/css/Images/services.gif" alt="main services" class="service-gif"/>
      </section>
      <section class="cases">
          <h1 class="case-header">Some cases</h1>
          {% for case in site.cases %}
          <div class="case">
              <div class="left">
                  <h2 class="case-title">{{case.title}}</h2>
                  <h3 class="case-subtitle">{{case.sub-title}}</h3>
                  <p class="case-blurb">{{case.blurb}}</p>
                  <div class="case-picture-left" style="background-image: url('{{case.left-img}}');"></div>
              </div>
              <div class="right">
                  <img src="{{case.right-img}}" alt="case picture" class="case-picture-right" />
              </div>
          </div>
          {% endfor %}
      </section>
      <section class="more">
          <a href="work.html" class="more-header">I want to see more</a>
          <div class="more-line"></div>
      </section>
      <section class="contact-section">
        <p>{{page.text}} <a href="mailto:hello@thereisnoframe.com" class="email">hello@thereisnoframe.com</a> <span class="collaborations">{{page.collaboration-text}}<span></p>
        </section>
        <footer>
            <a href="{{page.footer-link-one-url}}" class="dribble">{{page.footer-link-one}}</a>
            <a href="{{page.footer-link-two-url}}" class="twitter">{{page.footer-link-two}}</a>
            <a href="{{page.footer-link-three-url}}" class="behance">{{page.footer-link-three}}</a>
        </footer>
    </main>
    <script src="{{ "/assets/css/js/main.js" | relative_url }}"></script>
</body>
</html>
