<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="/assets/css/js/p5.js"></script>
    <script src="/assets/css/js/p5.sound.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ "/assets/css/nflab.css" | relative_url }}">
    <title>Nf Lab</title>
</head>
<body>
    <script src="assets/css/js/loader.js"></script>
    <!-- <script src="assets/css/js/sketch.js"></script> -->
    <main>
    <header>
        <nav>
            <h1 class="logo">Nf Lab</h1>
            <a href="index.html" class="home-link">BACK TO HOME</a>
            <a href="#wayfinder" class="back-to-top hidden">BACK TO TOP</a>
            <div class="nav-line"></div>
        </nav>
    </header>
    <div class="loader"></div>
    <div class="cursor"></div>
    <div id="bar-holder">
        <div id="status-bar"></div>
    </div>
    <img src="{{page.animation}}" alt="animation" class="animation" />
    <p class="animation-text">{{page.animation-text}}</p>
    <section class="wayfinder" id="wayfinder">
        <ul class="blog-link-list">
        {% for post in site.nflab %}
        <li><a class="way-link" data-box='{{post.data-number}}' href="#{{post.id-tag}}">{{post.title}}</a></li>   
        {%endfor%} 
        </ul>
        <div class="wayfinder-left">
            {% for post in site.nflab reversed%}
            {% if post.position == 'left' %}
            <div class="box-holder">
            <div class="box" data-box='{{post.data-number}}'></div>
            <img src="{{post.box-picture}}"/>
            </div>
            {%endif%}
            {%endfor%}
        </div>

            <div class="wayfinder-right">    
                {% for post in site.nflab reversed%}
                {% if post.position == 'right' %}
                <div class="box-holder">
                <div class="box" data-box='{{post.data-number}}'></div>
                <img src="{{post.box-picture}}"/>
                </div>
                {%endif%}
                {%endfor%}
            </div>
        
        </div>
    </section>
    <section class="place-holder">
        <div class="place-holder-box"></div>
    </section>
        {% for post in site.nflab %}
        <article id="{{post.id-tag}}">
            <p class="article-details">
                <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
                <span class="read-time">{{post.read-time}}</span>
            </p>
            <h1 class="article-title">
                {{post.title}}
            </h1>
            {{post.content}}
            </article>
        {% endfor %}
        <footer>
            <a href="#" class="dribble">Dribble</a>
            <a href="#" class="twitter">Twitter</a>
            <a href="#"class="behance">Behance</a>
    </footer>
    <script src="{{ "/assets/css/js/nflab.js" | relative_url }}"></script>
    </main>
</body>
</html>
